# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
build/
*.local

# Env
.env
.env.*
!.env.example

# Testes
coverage/
playwright-report/
test-results/
.playwright/

# Editor / OS
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
.idea/

# Cache
.vite/
*.tsbuildinfo
